<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="6.1.0" targetFramework="net472" />
  <package id="DynamicData" version="7.1.1" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net472" />
  <package id="OpenTK" version="3.0.1" targetFramework="net472" />
  <package id="PolyhydraGames.Extensions" version="2.1.0.6" targetFramework="net472" />
  <package id="ReactiveUI" version="13.1.1" targetFramework="net472" />
  <package id="Splat" version="10.0.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.7.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reactive" version="5.0.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Xamarin.Forms" version="5.0.0.1931" targetFramework="net472" />
  <package id="Xamarin.Forms.Platform.GTK" version="4.5.0.495" targetFramework="net472" />
</packages>